
$white: #fff;
$gray: #666;
$black: #3c3c3c;


.wrapper {
  max-width: 900px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  background: $white;
  overflow: hidden;
  .qrCode {
    width: 100px;
    display: block;
  }
  header {
    width: 100%;
    background: $black;
    padding: 28px 0 ;
    text-align: center;
    &>h1 {
      font-size: 30px;
      color: $white;
    }
    &>p {
      font-size: 14px;
      padding-top: 2px;
      color: #aaa;
    }
  }
  aside {
    width: 240px;
    padding: 150px 20px 0 20px;
    min-height: calc(100vh - 120px);
    position: relative;
    border-right: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    .avator {
      width: 200px;
      position: absolute;
      top: -80px;
      img {
        width: 200px;
        border-radius: 50%;
        border: 1px solid #ccc;
      }
    }
    section {
      padding-bottom: 10px;
      border-bottom: 1px solid #ccc;
      .title {
        color: #5c99ca;
        font-size: 16px;
        margin: 12px 0;
      }
      &.personal-info {
        .item {
          width: 100%;
          padding: 5px 0;
          display: flex;
          flex-wrap: wrap;
          .key {
            display: inline-block;
            width: 80px;
            position: relative;
            &::after {
              content: ':';
              position: absolute;
              right: 0;
            }
          }
          .values {
            padding-left: 10px;
            display: inline-block;
            flex: 1;
          }
        }
      }
      &.skills {
        .item {
          width: 100%;
          padding: 5px 0;
          display: flex;
          flex-wrap: wrap;
          align-items: center;
          .key {
            display: inline-block;
            width: 80px;
            position: relative;
          }
          .values {
            display: inline-block;
            flex: 1;
            height: 5px;
            background: #ccc;
            i {
              width: 10%;
              display: block;
              height: 5px;
              background: #000;
            }
          }
        }

      }

      &.contact {
        .item {
          width: 100%;
          padding: 5px 0;
          display: flex;
          flex-wrap: wrap;
          .icon {
            width: 40px;
            font-size: 20px;
          }
        }
      }

    }

  }
  main {
    flex: 1;
    max-width: calc(100% - 240px);
    padding: 0 30px 0 20px;
    border-bottom: 1px solid #ccc;
    section {
      margin-top: 30px;
      padding-bottom: 20px;
      border-bottom: 1px solid #ccc;
      .title {
        color: #5c99ca;
        font-size: 16px;
        margin: 12px 0;
      }
      .contentOne, .contentTwo, .project-content, .internship-part {
        margin-bottom: 20px;
        h3 {
          font-size: 16px;
        }
        ul {
          list-style: disc;
          padding: 10px 0 0 40px;
          color: #666;
          text-align: justify;
        }
      }
      .project-content {
        a:active, a:visited {
          color: black;
        }
        .productions {
          width: 90%;
          display: block;
          margin-top: 5px;
          &.cloud-production{
            width: 300px;
          }
        }
      }
    }
    .internship {
      .productions-wrapper {
        display: flex;
        justify-content: space-around;
        .productions {
          width: 40%;
        }
      }
      border: none;
    }

  }

  .second-part {
    section {
      margin-top: 30px;
      padding: 0 100px 20px 100px;
      border-bottom: 1px solid #ccc;
      .title {
        color: #5c99ca;
        font-size: 16px;
        margin: 12px 0;
      }
      .contentOne, .contentTwo, .project-content, .internship-part {
        margin-bottom: 20px;
        h3 {
          font-size: 16px;
        }
        ul {
          list-style: disc;
          padding: 10px 0 0 40px;
          color: #666;
          text-align: justify;
        }
      }
      .project-content {
        a:active, a:visited {
          color: black;
        }
        .productions {
          width: 90%;
          display: block;
          margin-top: 5px;
          &.cloud-production{
            width: 300px;
          }
        }
      }
    }
    .professional-skills {
      .skills-content {
        .skills-level-1 {
          list-style: unset;
          padding-left: 20px;
          .items-1 {
            padding: 10px 0;
            h3 {
              font-size: 16px;
            }
            .skills-level-2 {
              list-style: circle;
              padding-left: 20px;
              .items-2 {
                padding: 5px 0;
              }
            }
          }
        }

      }
    }

    .personal-page {
      .page-wrapper {
        list-style: unset;
        padding-left: 20px;
        display: flex;
        .page-item {
          font-size: 16px;
          padding-bottom: 10px;
          &.github {
            margin-left: 50px;
          }
          .page-item-title {
            padding-bottom: 10px;
          }
        }
      }
    }
  }

}

@media (max-width: 768px) {
  .wrapper {
    aside {
      width: 100%;
      padding-top: 50px;
      min-height: 0;
      .avator {
        position: static;
        margin: 0 auto;
      }
    }
    main {
      max-width: 100%;
    }
  }
}

@media print {
  body {
    background: white;
  }
  .wrapper {
    max-width: 900px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    header {
      background: $black;
    }
    aside {
      width: 240px;
      padding: 150px 20px 0 20px;
      min-height: calc(100vh - 120px);
      position: relative;
      .avator {
        width: 200px;
        position: absolute;
        top: -80px;
        img {
          width: 200px;
          border-radius: 50%;
          border: 1px solid #ccc;
        }
      }
      section {
        padding-bottom: 10px;
        border-bottom: 1px solid #ccc;
        .title {
          color: #5c99ca;
          font-size: 16px;
          margin: 12px 0;
        }
        &.personal-info {
          .item {
            width: 100%;
            padding: 5px 0;
            display: flex;
            flex-wrap: wrap;
            .key {
              display: inline-block;
              width: 80px;
              position: relative;
              &::after {
                content: ':';
                position: absolute;
                right: 0;
              }
            }
            .values {
              padding-left: 10px;
              display: inline-block;
              flex: 1;
            }
          }
        }
        &.skills {
          .item {
            width: 100%;
            padding: 5px 0;
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            .key {
              display: inline-block;
              width: 80px;
              position: relative;
            }
            .values {
              display: inline-block;
              flex: 1;
              height: 5px;
              background: #ccc;
              i {
                width: 10%;
                display: block;
                height: 5px;
                background: #000;
              }
            }
          }

        }

        &.contact {
          .item {
            width: 100%;
            padding: 5px 0;
            display: flex;
            flex-wrap: wrap;
            .icon {
              width: 40px;
              font-size: 20px;
            }
          }
        }

      }

    }
    main {
      section {
        &.education {
          .contentOne {
            ul {
              display: flex;
              flex-direction: column;
              //li {
              //  margin: 2px 0;
              //  background: red;
              //}
            }
          }
        }
        &.internship {
          .productions-wrapper {
            .productions {
              width: auto;
              height: 280px;
            }
          }
        }
      }
    }
    .second-part {
      .project {
        .project-content {
          .preview {
            display: none;
          }
          .productions {
            margin-top: 20px;
          }
          .key-board {
            width: auto;
            height: 120px;
          }
          .canvas-production {
            width: auto;
            height: 100px;
          }
          .todolist-production {
            width: 90%;
            height: 200px;
          }
          .tickets-project {
            width: auto;
            height: 300px;
          }
          .cloud-production {
            //display: inline-block;
            width: auto;
            height: 500px;
          }
          &:nth-last-of-type(1) {
            //page-break-after:right;
          }
        }
      }
      .professional-skills {
        .skills-level-1 {
          .items-1 {
            padding: 0;
            &:nth-last-of-type(1) {
              margin-bottom: 70px;
            }
          }
        }
      }
    }
  }
}



